/****************** Layout Part ***********************/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    background-color: #2F4558;
    display: flex;
    justify-content: start;
    gap: 10px;
    padding: 15px 10px 5px;
    align-items: center;
}

.logo {
    width: 50px;
    height: 50px;
}

header h1 {
    color: #F6B12D;

}

header .logo {
    width: 50px;
    height: 50px;
}

main {
    transition: all 0.3s;
}

.description {
    display: flex;
    justify-content: center;
    width: 100vw;
    margin-top: 50px;
}

.history {
    background-color: #2F4558;
    color: white;
    text-align: center;
    width: 80%;
}

.bloctexte {
    font-size: 1.2rem;
    margin-inline: 50px;
    line-height: 30px;
}


.carte h1 {
    color: black;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 1.1rem;
    text-align: center;
    margin-bottom: 0px;
}

body {
    background-color: #B6CDE8;
}

main h1 {
    color: #F6B12D;
    font-size: 2rem;
}

.burgermenu {
    padding: 15px 15px 15px 5px;
    display: inline-block;
    position: relative;
    top: 40px;
    left: 10px;
}

.burgermenu span:nth-child(1) {
    width: 30px;
    height: 2px;
    background-color: black;
    border-radius: 4px;
    display: block;
    position: relative;
    bottom: 7px;

}

.burgermenu span:nth-child(2) {
    width: 30px;
    height: 2px;
    background-color: black;
    border-radius: 4px;
    display: block;
    position: relative;

}

.burgermenu span:nth-child(3) {
    width: 30px;
    height: 2px;
    background-color: black;
    border-radius: 4px;
    display: block;
    position: relative;
    top: 7px;

}

.elements.left {
    padding: 1.5em 1.5em;
    margin-top: 2em;
    background-color: #2F4558;
    width: 100vh;
    position: absolute;
    width: auto;
    height: 100vh;
    color: #F6B12D;
    font-size: 1.2rem;
    transform: translate(-2000px);
    transition: all 0.3s;
    z-index: 11;
    box-shadow: 0px 0px 20px 2px rgba(0, 0, 0, 0.44);
}

.left ul {
    list-style: none;
    line-height: 1.9em;
}


li:link {
    text-decoration: none;
}

li:visited {
    text-decoration: none;
}

li:hover {
    color: #B6CDE8;

}

.caroussel h1:nth-child(1) {
    margin-top: 0;
    padding-top: 0.5em;
    color: white;
}

.bloc1 {
    max-width: 35ch;
}

.land {
    fill: #F6B12D;
    fill-opacity: 1;
    stroke: #2F4558;
    stroke-opacity: 1;
    stroke-width: 0.5;
    transition: 0.5s ease-in-out;
}

#FR-ARA:hover {
    fill: #2F4558;
    fill-opacity: 1;
    stroke: #ffffff;
    stroke-opacity: 1;
    stroke-width: 2;
}

svg {
    padding-top: 30px;
    min-height: 300px;
    min-width: 100vw;
}

.quiz {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: fit-content;
    justify-content: center;
    align-items: center;
}


.container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    max-width: 80%;
    background-color: #2F4558;
    border-radius: 5px;
    padding: 10px;
}

.buttons-grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
    margin: 50px 0;
}

#answer-buttons {
    margin: 0;
}

.btn {
    background-color: #F6B12D;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px 10px;
    outline: none;
    cursor: pointer;
}

.btn:hover {
    border-color: black;
    background-color: white;
}

.btn:active {
    transform: scale(1.1);
}


#question-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#question {
    font-size: 30px;
    color: white;
}

.start-btn,
.next-btn {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10 px 20px;
}

.reset-btn {
    background-color: white;
    margin-top: 1rem;
}

.reset-btn:hover {
    background-color: grey;
}

.controls-quiz {
    display: flex;
    justify-content: center;
    align-items: center;
}

.carouselContainer {
    display: flex;
    justify-content: center;
}

.hide {
    display: none;
}

.carousel {
    width: 80vw;
    height: 50vh;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.carouselItem {
    width: 100%;
    height: 80vh;
    position: absolute;
    transition: all 0.5s;
}

.button {
    position: absolute;
    width: 30px;
    height: 30px;
    padding: 0px;
    border-radius: 50%;
    z-index: 10;
    cursor: pointer;
    background-color: rgba(131, 131, 131, 0.479);
    font-size: 18px;
}

.carouselItem img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.button:active {
    transform: scale(1.1);
}

.button:hover {
    background-color: rgba(211, 211, 211, 0.767);

}

.buttonPrev {
    top: 40%;
    left: 2%;
}

.buttonNext {
    top: 40%;
    right: 2%;
}

.dotButton {
    position: absolute;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    width: 5rem;
    height: 2rem;
}

.dotStyle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    cursor: pointer;
    background-color: rgba(211, 211, 211, 0.39);
}